body {
    font-family: 'Arial', sans-serif;
   background-image: url(john3.jpg);
    color: #333;
    background-position: top;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(135deg, #6fa3ef, #a3d2ca);
}

.header {
    background-blend-mode: lighten;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    margin-top: 95px;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.containers {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.btn-outline-primary:hover {
    background-color: #6fa3ef;
    color: white;
}

.animated {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.jplink {
    size: 2px;
    align-items: center;
    width: 50%;
}
footer {
    width: 100%;
}

.foot {
    bottom: 0;
}

.about {
    position: absolute;
}
